@using (Html.BeginForm("InsertTeacher", "Teacher", FormMethod.Post))
{



<label for="fname">Teacher name:</label><br />
<input type="text" name="teacherName"><br/>
<label for="lname">Teacher Number:</label><br />
<input type="text" name="teacherNo"><br />
<input type="submit" value="Add Teacher" />
}