@using (Html.BeginForm("InsertStudent", "Student", FormMethod.Post))
{



    <label for="fname">Student name:</label>
    <br />
    <input type="text" name="StudentName">
    <br />
    <label for="lname">Student Number:</label>
    <br />
    <input type="text" name="StudentNo">
    <br />
    <input type="submit" value="Add Student" />
}

