@using (Html.BeginForm("InsertRoom", "Room", FormMethod.Post))
{



    <label for="fname">Room name:</label>
    <br />
    <input type="text" name="RoomName">
    <br />
    <label for="lname">Room Size:</label>
    <br />
    <input type="text" name="RoomSize">
    <br />
    <label for="lname">IsAvaible:</label>
    <br />
    <input type="text" name="IsAvaible">
    <br />
    <label for="lname">Location:</label>
    <br />
    <input type="text" name="location">
    <br />

    <input type="submit" value="Add Room" />
}

